openapi: 3.1.0
info:
  title: kbdb API
  description: >
    API for tracking a personal mechanical keyboard collection: keyboards,
    switches, keycap sets, and the builds that combine them. Routes are
    nested under /v1/users/{userId}/... to support both a caller's own
    collection and items other users have explicitly shared with them —
    see the userId path parameter's description for the exact rules.
  version: "1.0.0"
  contact:
    url: https://mykeebs.info
  license:
    name: MIT
    url: https://github.com/rogueserenity/kbdb/blob/main/LICENSE
servers:
  - url: https://api.mykeebs.info
security:
  - CognitoAuth: []

tags:
  - name: keyboards
    description: Keyboards in a user's collection, or shared with the caller.
  - name: switches
    description: Switches in a user's collection, or shared with the caller.
  - name: keycap-sets
    description: Keycap sets (and their individual kits) in a user's collection, or shared with the caller.
  - name: builds
    description: Builds combining a keyboard, switches, and keycap kits, in a user's collection or shared with the caller.
  - name: lookups
    description: Approved value lists for enum-like fields (vendors, materials, profiles, etc.) — non-sensitive global reference data, not owned by any user. Reads require no authentication at all; there are no write routes.

paths:
  /v1/users/{userId}/keyboards:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [keyboards]
      summary: List keyboards
      operationId: listKeyboards
      security:
        - {}
        - CognitoAuth: []
      description: >
        If userId is the caller's own subject, lists all of the caller's keyboards. Otherwise, lists only that user's keyboards explicitly shared with the caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of keyboards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyboardListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [keyboards]
      summary: Create a keyboard
      operationId: createKeyboard
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardInput"
      responses:
        "201":
          description: The created keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keyboards/{keyboardId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeyboardId"
    get:
      tags: [keyboards]
      summary: Get a keyboard
      operationId: getKeyboard
      security:
        - {}
        - CognitoAuth: []
      description: >
        Returns the keyboard if it belongs to the caller, or if its owner has shared it with the caller. Returns 404 (not 403) if the keyboard does not exist, is not owned by the caller, and is not shared with the caller — this avoids revealing that an unshared item exists.
      responses:
        "200":
          description: The requested keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [keyboards]
      summary: Update a keyboard
      operationId: updateKeyboard
      description: >
        userId must be the caller's own subject; updating another user's keyboard always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardInput"
      responses:
        "200":
          description: The updated keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keyboards]
      summary: Delete a keyboard
      operationId: deleteKeyboard
      description: >
        userId must be the caller's own subject; deleting another user's keyboard always returns 404.
        on_delete controls what happens if the keyboard is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids; "cascade" deletes the keyboard and
        every build that references it, returning their ids; "detach" deletes the keyboard regardless,
        leaving referencing builds with a dangling keyboard field.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade, detach]
            default: block
          description: How to handle a keyboard still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (block with no references, or detach).
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: Blocked by one or more referencing builds (on_delete=block, the default).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/switches:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [switches]
      summary: List switches
      operationId: listSwitches
      security:
        - {}
        - CognitoAuth: []
      description: >
        If userId is the caller's own subject, lists all of the caller's switches. Otherwise, lists only that user's switches explicitly shared with the caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of switches.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [switches]
      summary: Create a switch
      operationId: createSwitch
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchInput"
      responses:
        "201":
          description: The created switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/switches/{switchId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/SwitchId"
    get:
      tags: [switches]
      summary: Get a switch
      operationId: getSwitch
      security:
        - {}
        - CognitoAuth: []
      description: >
        Returns the switch if it belongs to the caller, or if its owner has shared it with the caller. Returns 404 (not 403) if the switch does not exist, is not owned by the caller, and is not shared with the caller — this avoids revealing that an unshared item exists.
      responses:
        "200":
          description: The requested switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [switches]
      summary: Update a switch
      operationId: updateSwitch
      description: >
        userId must be the caller's own subject; updating another user's switch always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchInput"
      responses:
        "200":
          description: The updated switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [switches]
      summary: Delete a switch
      operationId: deleteSwitch
      description: >
        userId must be the caller's own subject; deleting another user's switch always returns 404.
        on_delete controls what happens if the switch is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids; "cascade" deletes the switch and
        every build that references it, returning their ids; "detach" deletes the switch regardless,
        leaving referencing builds with a dangling switches[].switch id.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade, detach]
            default: block
          description: How to handle a switch still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (block with no references, or detach).
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: Blocked by one or more referencing builds (on_delete=block, the default).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [keycap-sets]
      summary: List keycap sets
      operationId: listKeycapSets
      security:
        - {}
        - CognitoAuth: []
      description: >
        If userId is the caller's own subject, lists all of the caller's keycap sets. Otherwise, lists only that user's keycap sets explicitly shared with the caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of keycap sets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSetListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [keycap-sets]
      summary: Create a keycap set
      operationId: createKeycapSet
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapSetInput"
      responses:
        "201":
          description: The created keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
    get:
      tags: [keycap-sets]
      summary: Get a keycap set
      operationId: getKeycapSet
      security:
        - {}
        - CognitoAuth: []
      description: >
        Returns the keycap set if it belongs to the caller, or if its owner has shared it with the caller. Returns 404 (not 403) if the keycap set does not exist, is not owned by the caller, and is not shared with the caller — this avoids revealing that an unshared item exists.
      responses:
        "200":
          description: The requested keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [keycap-sets]
      summary: Update a keycap set
      operationId: updateKeycapSet
      description: >
        userId must be the caller's own subject; updating another user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapSetInput"
      responses:
        "200":
          description: The updated keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Delete a keycap set
      operationId: deleteKeycapSet
      description: >
        userId must be the caller's own subject; deleting another user's
        keycap set always returns 404. on_delete controls what happens if
        any kit in the set is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids;
        "cascade" deletes the set and every build that references any kit
        in it, returning their ids; "detach" deletes the set regardless,
        leaving referencing builds with a dangling keycap_kits[] entry.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade, detach]
            default: block
          description: How to handle a set still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (block with no references, or detach).
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            Blocked by one or more referencing builds (on_delete=block, the
            default — the Problem body has blocking_build_ids).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
    post:
      tags: [keycap-sets]
      summary: Add a kit to a keycap set
      operationId: createKeycapKit
      description: >
        userId must be the caller's own subject; adding a kit to another
        user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapKitInput"
      responses:
        "201":
          description: The created kit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKit"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits/{kitId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
      - name: kitId
        in: path
        required: true
        schema:
          type: string
        description: The kit_id returned when the kit was created.
    put:
      tags: [keycap-sets]
      summary: Update a kit
      operationId: updateKeycapKit
      description: >
        userId must be the caller's own subject; updating a kit on another
        user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapKitInput"
      responses:
        "200":
          description: The updated kit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKit"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Delete a kit
      operationId: deleteKeycapKit
      description: >
        userId must be the caller's own subject; deleting a kit from
        another user's keycap set, or from a keycap set that doesn't exist,
        both return 404. Idempotent — deleting a kitId not present in the
        set is not an error. on_delete controls what happens if the kit is
        still referenced by a build: "block" (the default) fails with 409
        and lists the blocking build ids; "cascade" deletes the kit and
        every build that references it, returning their ids; "detach"
        deletes the kit regardless, leaving referencing builds with a
        dangling keycap_kits[] entry. A 409 can also mean the set is being
        modified concurrently (unrelated to on_delete) — distinguish the
        two by whether the Problem body has a blocking_build_ids field.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade, detach]
            default: block
          description: How to handle a kit still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (block with no references, or detach).
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            Either blocked by one or more referencing builds (on_delete=block, the default —
            the Problem body has blocking_build_ids), or the set is being modified
            concurrently (no blocking_build_ids; retry).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits/{kitId}/image:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
      - name: kitId
        in: path
        required: true
        schema:
          type: string
        description: The kit_id returned when the kit was created.
    post:
      tags: [keycap-sets]
      summary: Set (or replace) a kit's image
      operationId: setKeycapKitImage
      description: >
        userId must be the caller's own subject; setting a kit's image on
        another user's keycap set always returns 404. A kit has at most one
        image — calling this again replaces it, no need to delete first.
        Does not upload the image itself: the response is a presigned S3
        PUT URL the client uploads the actual image bytes to directly. The
        presigned URL requires the exact content_type given here on the
        upload — this lets the API reject an unsupported content_type up
        front, before ever issuing a presigned URL, and lets S3 reject an
        upload that doesn't match what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_type]
              properties:
                content_type:
                  type: string
                  description: Open vocabulary — validated against the "image_content_type" lookup at request time.
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKitImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Remove a kit's image
      operationId: deleteKeycapKitImage
      description: >
        userId must be the caller's own subject; removing a kit's image on
        another user's keycap set always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [builds]
      summary: List builds
      operationId: listBuilds
      security:
        - {}
        - CognitoAuth: []
      description: >
        If userId is the caller's own subject, lists all of the caller's builds. Otherwise, lists only that user's builds explicitly shared with the caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of builds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [builds]
      summary: Create a build
      operationId: createBuild
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildInput"
      responses:
        "201":
          description: The created build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
    get:
      tags: [builds]
      summary: Get a build
      operationId: getBuild
      security:
        - {}
        - CognitoAuth: []
      description: >
        Returns the build if it belongs to the caller, or if its owner has shared it with the caller. Returns 404 (not 403) if the build does not exist, is not owned by the caller, and is not shared with the caller — this avoids revealing that an unshared item exists.
      responses:
        "200":
          description: The requested build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [builds]
      summary: Update a build
      operationId: updateBuild
      description: >
        userId must be the caller's own subject; updating another user's build always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildInput"
      responses:
        "200":
          description: The updated build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [builds]
      summary: Delete a build
      operationId: deleteBuild
      description: >
        userId must be the caller's own subject; deleting another user's build always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}/images:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
    post:
      tags: [builds]
      summary: Add an image to a build
      operationId: createBuildImage
      description: >
        userId must be the caller's own subject; adding an image to another
        user's build always returns 404. Images are not settable via
        POST/PUT on the build itself (see BuildInput) — this is the only
        way to attach one. Does not upload the image itself: the response
        is a presigned S3 PUT URL the client uploads the actual image
        bytes to directly. The presigned URL requires the exact
        content_type given here on the upload — this lets the API reject
        an unsupported content_type up front, before ever issuing a
        presigned URL, and lets S3 reject an upload that doesn't match
        what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_type]
              properties:
                content_type:
                  type: string
                  description: Open vocabulary — validated against the "image_content_type" lookup at request time.
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}/images/{imageId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
      - name: imageId
        in: path
        required: true
        schema:
          type: string
        description: The image_id returned when the image was added.
    delete:
      tags: [builds]
      summary: Remove an image from a build
      operationId: deleteBuildImage
      description: >
        userId must be the caller's own subject; removing an image from
        another user's build always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/lookups:
    get:
      tags: [lookups]
      summary: List all lookup category names
      operationId: listLookups
      security: []
      description: >
        Returns category names only, not their values - fetch
        GET /lookups/{category} for a specific category's approved values.
      responses:
        "200":
          description: All lookup category names.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [vendor, switch_material, keyboard_size, keyboard_layout]
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/lookups/{category}:
    parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        example: vendor
    get:
      tags: [lookups]
      summary: Get one lookup category's approved values
      operationId: getLookup
      security: []
      description: >
        Returns 404 if category isn't one of the names returned by GET
        /lookups.
      responses:
        "200":
          description: The requested lookup category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lookup"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

components:
  securitySchemes:
    CognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito-issued JWT (Authorization Bearer <token>).

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: >
        Cognito subject (UUID) of the item's owner. If this matches the
        authenticated caller's own subject, the request is against their own
        collection. If it names a different user, the request is against
        that user's collection: reads return only items that user has
        explicitly shared with the caller (or, for a specific item, only if
        that item is shared with the caller — otherwise a 404, not a 403,
        to avoid revealing that an item exists but isn't shared); writes
        (create/update/delete) always fail with a 404 in this case, since a
        caller can never modify another user's items. Not a PII/security
        concern to expose in a URL — Cognito subjects are opaque UUIDs, not
        derived from email or any other identifying attribute.
    KeyboardId:
      name: keyboardId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the keyboard.
    SwitchId:
      name: switchId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the switch.
    KeycapSetId:
      name: keycapSetId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the keycap set.
    BuildId:
      name: buildId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the build.
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return.
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque pagination cursor from a previous response's next_cursor.

  responses:
    ProblemResponse:
      description: An error, formatted per RFC 9457 (Problem Details for HTTP APIs).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFoundResponse:
      description: The requested resource does not exist, or does not belong to the authenticated user.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    ConflictResponse:
      description: >
        The keycap set or build was modified by a concurrent request while
        this one was in flight, and retries were exhausted. Safe to retry
        the request as-is.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
          example: https://mykeebs.info/errors/validation-error
        title:
          type: string
          example: Validation Error
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        invalid_params:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              reason:
                type: string
              allowed_values:
                type: array
                items:
                  type: string
        blocking_build_ids:
          type: array
          description: >
            Present on a 409 response caused by the item still being
            referenced by one or more builds. Lists the ids of the blocking
            builds.
          items:
            type: string
      required: [type, title, status]

    CascadeDeleteResult:
      type: object
      description: >
        Returned by a delete call made with on_delete=cascade, listing the
        ids of every build that was deleted alongside the requested item.
      properties:
        deleted_build_ids:
          type: array
          items:
            type: string
      required: [deleted_build_ids]

    Money:
      type: number
      format: double
      description: A price in the collection's tracking currency.
      example: 123.45

    Visibility:
      type: string
      enum: [public, authenticated, private]
      description: >
        Who can read this item via its GET routes (create/update/delete
        always require the caller to be the item's owner, regardless of
        visibility). "public": readable with no authentication at all.
        "authenticated": readable by any signed-in user, but not
        anonymous callers. "private": readable only by the owner. There
        is no per-user allowlist/sharing mechanism beyond these three
        tiers — visibility is not scoped to specific other users.

    Purchase:
      type: object
      description: >
        Full purchase-lifecycle tracking, used by keyboards and keycap set
        kits (which get separate order/delivery dates and status).
      properties:
        vendor:
          type: string
          description: Open vocabulary — validated against the "vendor" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string
          description: Open vocabulary — validated against the "order_status" lookup at request time.

    MaterialColor:
      type: object
      description: A physical part described by material and color.
      properties:
        material:
          type: string
          description: Open vocabulary — validated against the relevant *_material lookup at request time.
        color:
          type: string
          description: Free text.

    KeyboardDesign:
      type: object
      properties:
        top_case:
          $ref: "#/components/schemas/MaterialColor"
        bottom_case:
          $ref: "#/components/schemas/MaterialColor"
        weight:
          $ref: "#/components/schemas/MaterialColor"
        plates:
          type: array
          items:
            type: string
            description: Open vocabulary — validated against the "keyboard_plate_material" lookup at request time.

    KeyboardPCB:
      type: object
      properties:
        thickness:
          type: number
          format: double
          example: 1.6
        firmware:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_firmware" lookup at request time.
        assembly:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_assembly_type" lookup at request time.
        connectivity:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_connectivity_type" lookup at request time.

    KeyboardInput:
      type: object
      required: [brand, name, visibility]
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        size:
          type: string
          description: Open vocabulary — validated against the "keyboard_size" lookup at request time.
        layout:
          type: string
          description: >
            Open vocabulary — validated against the "keyboard_layout" lookup at
            request time, including that the chosen layout is valid for
            the keyboard's size.
        design:
          $ref: "#/components/schemas/KeyboardDesign"
        pcb:
          $ref: "#/components/schemas/KeyboardPCB"
        purchase:
          $ref: "#/components/schemas/Purchase"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    Keyboard:
      allOf:
        - $ref: "#/components/schemas/KeyboardInput"
        - type: object
          required: [id]
          properties:
            id:
              type: string

    KeyboardSummary:
      type: object
      description: Reduced shape returned in list responses.
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        size:
          type: string
        layout:
          type: string
        order_status:
          type: string

    KeyboardListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/KeyboardSummary"
        next_cursor:
          type: [string, "null"]

    SwitchMaterial:
      type: object
      properties:
        top_housing:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.
        bottom_housing:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.
        stem:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.

    SwitchForce:
      type: object
      properties:
        actuation:
          type: number
          format: double
          description: Actuation force in grams (nominal value).
        bottom_out:
          type: number
          format: double
          description: Bottom-out force in grams (nominal value).

    SwitchSpring:
      type: object
      properties:
        material:
          type: string
          description: Open vocabulary — validated against the "switch_spring_material" lookup at request time.
        pre_travel:
          type: number
          format: double
          description: Pre-travel distance in mm.
        total_travel:
          type: number
          format: double
          description: Total travel distance in mm.

    SwitchPurchase:
      type: object
      description: >
        Same purchase-lifecycle tracking as Purchase, plus a quantity
        field since switches are bought in bulk.
      properties:
        vendor:
          type: string
          description: Open vocabulary — validated against the "vendor" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string
          description: Open vocabulary — validated against the "order_status" lookup at request time.
        quantity:
          type: integer

    SwitchInput:
      type: object
      required: [brand, name, type, visibility]
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        manufacturer:
          type: string
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        type:
          type: string
          description: Open vocabulary — validated against the "switch_type" lookup at request time.
        pins:
          type: integer
          example: 5
          description: PCB mount pin count.
        factory_lubed:
          type: boolean
        material:
          $ref: "#/components/schemas/SwitchMaterial"
        force:
          $ref: "#/components/schemas/SwitchForce"
        spring:
          $ref: "#/components/schemas/SwitchSpring"
        purchase:
          $ref: "#/components/schemas/SwitchPurchase"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    Switch:
      allOf:
        - $ref: "#/components/schemas/SwitchInput"
        - type: object
          required: [id]
          properties:
            id:
              type: string

    SwitchSummary:
      type: object
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        type:
          type: string
          description: Open vocabulary — validated against the "switch_type" lookup at request time.

    SwitchListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SwitchSummary"
        next_cursor:
          type: [string, "null"]

    KeycapKitInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          pattern: "\\S"
          description: e.g. "Base", "Extension", "Accents".
        purchase:
          $ref: "#/components/schemas/Purchase"
        primary:
          type: boolean
          description: >
            Omit to leave the set's primary kit designation untouched.
            true makes this kit the set's primary kit, replacing whichever
            kit held that designation before. false clears the
            designation, but only if this kit is the current primary -
            otherwise it's a no-op. Deliberately has no default: a missing
            field must stay distinguishable from an explicit false.

    KeycapKitImage:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch — do not cache or persist this value, it
            expires. A kit has at most one image (its vendor render/product
            shot) — see POST/DELETE .../kits/{kitId}/image.

    KeycapKitImageUpload:
      type: object
      required: [upload_url]
      properties:
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    KeycapKit:
      allOf:
        - $ref: "#/components/schemas/KeycapKitInput"
        - type: object
          required: [kit_id]
          properties:
            kit_id:
              type: string
              description: Server-generated identifier for this kit, unique within the keycap set.
            image:
              oneOf:
                - $ref: "#/components/schemas/KeycapKitImage"
                - type: "null"
              description: >
                Managed via the dedicated image endpoint, not via PUT on
                the kit itself — see POST/DELETE
                .../keycap-sets/{keycapSetId}/kits/{kitId}/image.

    KeycapSetInput:
      type: object
      required: [brand, name, visibility]
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        profile:
          type: string
          description: Open vocabulary — validated against the "keycap_profile" lookup at request time.
        material:
          type: string
          description: Open vocabulary — validated against the "keycap_material" lookup at request time.
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    KeycapSet:
      allOf:
        - $ref: "#/components/schemas/KeycapSetInput"
        - type: object
          required: [id]
          properties:
            id:
              type: string
            kits:
              type: array
              items:
                $ref: "#/components/schemas/KeycapKit"
              description: >
                Managed via the dedicated kit endpoints below, not via PUT
                on the set itself — see POST/PUT/DELETE
                .../keycap-sets/{keycapSetId}/kits[/{kitId}].
            primary_kit_id:
              type: [string, "null"]
              description: >
                The kit_id, among this set's kits, whose image represents
                the set in a list view. Null if never set, or if the kit
                it named no longer exists — match against kits[].kit_id
                to find that kit's image.
            order_status:
              type: [string, "null"]
              description: >
                Derived, read-only summary of every kit's
                purchase.order_status: the least-progressed status among
                them wins (Planned < Ordered < Shipped < Delivered), so the
                set isn't shown as Delivered while a kit is still en
                route. A kit with status Cancelled is excluded from that
                comparison unless every kit is Cancelled, in which case
                this is Cancelled too. Null if no kit has an order_status
                set, or the set has no kits.

    KeycapSetSummary:
      type: object
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        profile:
          type: string
        order_status:
          type: [string, "null"]
          description: >
            Same derived aggregate as KeycapSet.order_status - see there
            for the bubble-up rule.
        primary_kit_image:
          oneOf:
            - $ref: "#/components/schemas/KeycapKitImage"
            - type: "null"
          description: >
            The primary kit's image, if the set has one designated and it
            has an image set. Null otherwise — including when the
            designated primary kit no longer exists.

    KeycapSetListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/KeycapSetSummary"
        next_cursor:
          type: [string, "null"]

    BuildSwitchEntry:
      type: object
      required: [switch, count]
      properties:
        switch:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a Switch resource.
        count:
          type: integer
          minimum: 1

    BuildKeycapKitEntry:
      type: object
      required: [keycap_set, kit]
      properties:
        keycap_set:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a KeycapSet resource.
        kit:
          type: string
          minLength: 1
          pattern: "\\S"
          description: kit_id of one of that keycap set's kits (see KeycapKit.kit_id).

    BuildKeyboardRef:
      type: object
      description: A build's denormalized Keyboard reference.
      required: [id, brand, name]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        size:
          type: string
        layout:
          type: string

    BuildSwitchRef:
      type: object
      description: A build's denormalized Switch reference.
      required: [id, brand, name, type]
      properties:
        id:
          type: string
        brand:
          type: string
        manufacturer:
          type: string
        name:
          type: string
        type:
          type: string

    BuildSwitchEntryResolved:
      type: object
      required: [count]
      properties:
        switch:
          $ref: "#/components/schemas/BuildSwitchRef"
          description: >
            Omitted if the referenced Switch no longer exists (e.g. deleted
            after the build referenced it).
        count:
          type: integer
          minimum: 1

    BuildKeycapSetRef:
      type: object
      description: A build's denormalized KeycapSet reference.
      required: [id, brand, name]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        profile:
          type: string

    BuildKeycapKitEntryResolved:
      type: object
      required: [kit_id]
      properties:
        keycap_set:
          $ref: "#/components/schemas/BuildKeycapSetRef"
          description: >
            Omitted if the referenced KeycapSet (or the kit within it) no
            longer exists (e.g. deleted after the build referenced it) - in
            that case kit_name and kit_image_url are omitted too.
        kit_id:
          type: string
          description: kit_id of the referenced keycap set's kit (see KeycapKit.kit_id).
        kit_name:
          type: string
          description: Denormalized name of the referenced kit.
        kit_image_url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL for the
            referenced kit's image, if it has one. Generated new on every
            fetch of the build — do not cache or persist this value, it
            expires.

    BuildStabs:
      type: object
      properties:
        name:
          type: string
          description: Open vocabulary — validated against the "build_stabilizer" lookup at request time.
        mount_type:
          type: string
          description: Open vocabulary — validated against the "build_stabilizer_mount_type" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"

    BuildCaseMountType:
      type: object
      properties:
        type:
          type: string
          description: Open vocabulary — validated against the "build_case_mount_type" lookup at request time.
        durometer:
          type: string
          description: >
            Open vocabulary — validated against the "build_durometer" lookup
            at request time. Only meaningful when the chosen mount type
            supports it (see the build_case_mount_type lookup's
            supports_durometer flag).

    BuildInput:
      type: object
      required: [keyboard, visibility]
      properties:
        keyboard:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a Keyboard resource.
        plate:
          type: string
          description: Which of the keyboard's design.plates options is installed.
        case_mount_type:
          $ref: "#/components/schemas/BuildCaseMountType"
        stabs:
          $ref: "#/components/schemas/BuildStabs"
        foam:
          type: boolean
        switches:
          type: array
          items:
            $ref: "#/components/schemas/BuildSwitchEntry"
        keycap_kits:
          type: array
          items:
            $ref: "#/components/schemas/BuildKeycapKitEntry"
        build_date:
          type: string
          format: date
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    BuildImage:
      type: object
      required: [image_id, url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for this image, unique within the build.
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch of the build — do not cache or persist this
            value, it expires.

    BuildImageUpload:
      type: object
      required: [image_id, upload_url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for the newly-created image.
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    BuildSummaryKeyboard:
      type: object
      description: A build's denormalized keyboard brand/name, for display in a list view.
      properties:
        brand:
          type: string
        name:
          type: string

    Build:
      type: object
      description: >
        The read representation of a build. Unlike BuildInput, keyboard,
        switches[].switch, and keycap_kits[].keycap_set are denormalized
        into resolved reference objects rather than bare ids, so a client
        can render a build without follow-up requests.
      required: [id, visibility]
      properties:
        id:
          type: string
        keyboard:
          $ref: "#/components/schemas/BuildKeyboardRef"
          description: >
            Omitted if the referenced Keyboard no longer exists (e.g.
            deleted after the build referenced it).
        plate:
          type: string
          description: Which of the keyboard's design.plates options is installed.
        case_mount_type:
          $ref: "#/components/schemas/BuildCaseMountType"
        stabs:
          $ref: "#/components/schemas/BuildStabs"
        foam:
          type: boolean
        switches:
          type: array
          items:
            $ref: "#/components/schemas/BuildSwitchEntryResolved"
        keycap_kits:
          type: array
          items:
            $ref: "#/components/schemas/BuildKeycapKitEntryResolved"
        build_date:
          type: string
          format: date
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"
        images:
          type: array
          items:
            $ref: "#/components/schemas/BuildImage"
          description: >
            Managed via the dedicated image endpoints below, not via
            PUT on the build itself — see POST/DELETE
            .../builds/{buildId}/images[/{imageId}].
        total_cost:
          $ref: "#/components/schemas/Money"
          description: >
            Total cost of the build's priced components (keyboard,
            switches, keycap kits, stabs). Components with no known price
            are excluded rather than treated as zero, so this may
            undercount.

    BuildSummary:
      type: object
      description: >
        Includes a denormalized keyboard brand/name so a build is
        recognizable in a list view without a follow-up request.
      properties:
        id:
          type: string
        build_date:
          type: string
          format: date
        image:
          oneOf:
            - $ref: "#/components/schemas/BuildImage"
            - type: "null"
          description: First entry of images, if any (a freshly-minted presigned URL, same as on the full Build resource).
        keyboard:
          $ref: "#/components/schemas/BuildSummaryKeyboard"

    BuildListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/BuildSummary"
        next_cursor:
          type: [string, "null"]

    Lookup:
      type: object
      description: >
        A lookup category's approved values. "values" is plain strings
        except for "keyboard_layout" and "build_case_mount_type", whose
        entries are objects - see the examples below.
      required: [category, values]
      properties:
        category:
          type: string
          example: vendor
        values:
          type: array
          items: {}
          examples:
            - ["Amazon", "CannonKeys"]
            - [{ name: "WK", sizes: ["60%", "65%"] }]
            - [{ name: "Gasket Mount", supports_durometer: true }]
