openapi: 3.1.0
info:
  title: kbdb API
  description: >
    API for tracking a personal mechanical keyboard collection: keyboards,
    switches, keycap sets, and the builds that combine them. Routes are
    nested under /v1/users/{userId}/... for both the caller's own
    collection and other users' items the caller can read under each
    item's visibility — see the userId path parameter's description for
    the exact rules.
  version: "1.0.0"
  contact:
    url: https://mykeebs.info
  license:
    name: MIT
    url: https://github.com/rogueserenity/kbdb/blob/main/LICENSE
servers:
  - url: https://api.mykeebs.info
security:
  - BearerAuth: []

tags:
  - name: keyboards
    description: Keyboards in a user's collection.
  - name: switches
    description: Switches in a user's collection.
  - name: keycap-sets
    description: Keycap sets (and their individual kits) in a user's collection.
  - name: builds
    description: Builds combining a keyboard, switches, and keycap kits, in a user's collection.
  - name: lookups
    description: Approved value lists for enum-like fields (vendors, materials, profiles, etc.) — non-sensitive global reference data, not owned by any user. Reads require no authentication at all; there are no write routes.
  - name: profiles
    description: A user's public identity — username, avatar, bio, Discord handle, links — and the discoverable directory of other users' profiles.

paths:
  /v1/users/{userId}/keyboards:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [keyboards]
      summary: List keyboards
      operationId: listKeyboards
      security:
        - {}
        - BearerAuth: []
      description: >
        Lists the keyboards in userId's collection that the caller can read: all of them for the owner, public and authenticated ones for any other signed-in caller, and only public ones for an anonymous caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of keyboards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyboardListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [keyboards]
      summary: Create a keyboard
      operationId: createKeyboard
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardInput"
      responses:
        "201":
          description: The created keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keyboards/{keyboardId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeyboardId"
    get:
      tags: [keyboards]
      summary: Get a keyboard
      operationId: getKeyboard
      security:
        - {}
        - BearerAuth: []
      description: >
        Returns the keyboard if the caller can read it under its visibility. Returns 404 (not 403) if it doesn't exist or the caller can't read it, so an unreadable keyboard's existence isn't revealed.
      responses:
        "200":
          description: The requested keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [keyboards]
      summary: Update a keyboard
      operationId: updateKeyboard
      description: >
        userId must be the caller's own subject; updating another user's keyboard always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardInput"
      responses:
        "200":
          description: The updated keyboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Keyboard"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keyboards]
      summary: Delete a keyboard
      operationId: deleteKeyboard
      description: >
        userId must be the caller's own subject; deleting another user's keyboard always returns 404.
        on_delete controls what happens if the keyboard is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids; "cascade" deletes the keyboard and
        every build that references it, returning their ids.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade]
            default: block
          description: How to handle a keyboard still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (no builds referenced it).
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: Blocked by one or more referencing builds (on_delete=block, the default).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keyboards/{keyboardId}/images:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeyboardId"
    post:
      tags: [keyboards]
      summary: Add an image to a keyboard
      operationId: createKeyboardImage
      description: >
        userId must be the caller's own subject; adding an image to
        another user's keyboard always returns 404. Images are not
        settable via POST/PUT on the keyboard itself (see KeyboardInput)
        — this is the only way to attach one. Does not upload the image
        itself: the response is a presigned S3 PUT URL the client
        uploads the actual image bytes to directly. The presigned URL
        requires the exact content_type given here on the upload — this
        lets the API reject an unsupported content_type up front, before
        ever issuing a presigned URL, and lets S3 reject an upload that
        doesn't match what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyboardImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keyboards/{keyboardId}/images/{imageId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeyboardId"
      - name: imageId
        in: path
        required: true
        schema:
          type: string
        description: The image_id returned when the image was added.
    delete:
      tags: [keyboards]
      summary: Remove an image from a keyboard
      operationId: deleteKeyboardImage
      description: >
        userId must be the caller's own subject; removing an image from
        another user's keyboard always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/switches:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [switches]
      summary: List switches
      operationId: listSwitches
      security:
        - {}
        - BearerAuth: []
      description: >
        Lists the switches in userId's collection that the caller can read: all of them for the owner, public and authenticated ones for any other signed-in caller, and only public ones for an anonymous caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of switches.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [switches]
      summary: Create a switch
      operationId: createSwitch
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchInput"
      responses:
        "201":
          description: The created switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/switches/{switchId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/SwitchId"
    get:
      tags: [switches]
      summary: Get a switch
      operationId: getSwitch
      security:
        - {}
        - BearerAuth: []
      description: >
        Returns the switch if the caller can read it under its visibility. Returns 404 (not 403) if it doesn't exist or the caller can't read it, so an unreadable switch's existence isn't revealed.
      responses:
        "200":
          description: The requested switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [switches]
      summary: Update a switch
      operationId: updateSwitch
      description: >
        userId must be the caller's own subject; updating another user's switch always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchInput"
      responses:
        "200":
          description: The updated switch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Switch"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [switches]
      summary: Delete a switch
      operationId: deleteSwitch
      description: >
        userId must be the caller's own subject; deleting another user's switch always returns 404.
        on_delete controls what happens if the switch is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids; "cascade" deletes the switch and
        every build that references it, returning their ids.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade]
            default: block
          description: How to handle a switch still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (no builds referenced it).
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: Blocked by one or more referencing builds (on_delete=block, the default).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/switches/{switchId}/image:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/SwitchId"
    post:
      tags: [switches]
      summary: Set (or replace) a switch's image
      operationId: setSwitchImage
      description: >
        userId must be the caller's own subject; setting a switch's image on
        another user's switch always returns 404. A switch has at most one
        image — calling this again replaces it, no need to delete first.
        Does not upload the image itself: the response is a presigned S3
        PUT URL the client uploads the actual image bytes to directly. The
        presigned URL requires the exact content_type given here on the
        upload — this lets the API reject an unsupported content_type up
        front, before ever issuing a presigned URL, and lets S3 reject an
        upload that doesn't match what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [switches]
      summary: Remove a switch's image
      operationId: deleteSwitchImage
      description: >
        userId must be the caller's own subject; removing a switch's image
        on another user's switch always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/profile/{identifier}:
    parameters:
      - $ref: "#/components/parameters/ProfileIdentifier"
    post:
      tags: [profiles]
      summary: Create a profile
      operationId: createProfile
      description: >
        Creates the caller's profile. For this operation identifier must be
        the caller's own IdP subject (not a username) — creating a profile
        for anyone else always returns 404. A user has exactly one profile:
        a second create returns 409 (type .../errors/conflict). If the
        requested username is already claimed by a different user, the
        response is 409 with type .../errors/username-unavailable so the
        frontend can surface it against the username field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileInput"
      responses:
        "201":
          description: The created profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            Either the caller already has a profile (type
            https://mykeebs.info/errors/conflict) or the requested username
            is taken by another user (type
            https://mykeebs.info/errors/username-unavailable). The two are
            distinguished by the Problem `type`, not the schema.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"
    get:
      tags: [profiles]
      summary: Get a profile
      operationId: getProfile
      security:
        - {}
        - BearerAuth: []
      description: >
        Returns the profile identified by identifier, which may be either
        the owner's IdP subject or their username. A non-discoverable
        profile is returned only to its owner (authenticated caller whose
        subject matches); to anyone else — and for an identifier that
        matches no profile at all — the response is 404, not 403, so a
        non-discoverable profile's existence isn't revealed.
      responses:
        "200":
          description: The requested profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [profiles]
      summary: Update a profile
      operationId: updateProfile
      description: >
        Replaces the caller's profile. identifier must be the caller's own
        IdP subject (not a username) — updating a profile for anyone else
        always returns 404, as does updating when the caller has no profile.
        This is a full replace: a body-settable field that is omitted is
        cleared (e.g. omitting bio or links empties them). The avatar is not
        a body-settable field and is left untouched — manage it via
        POST/DELETE .../profile/{identifier}/image. If the requested username is
        already claimed by a different user, the response is 409 with type
        .../errors/username-unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileInput"
      responses:
        "200":
          description: The updated profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            Either the requested username is already claimed by a different
            user (type https://mykeebs.info/errors/username-unavailable) or
            the profile was being modified concurrently and the write could
            not be applied (type https://mykeebs.info/errors/conflict) —
            retry. The two are distinguished by the Problem `type`.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [profiles]
      summary: Delete a profile
      operationId: deleteProfile
      description: >
        Deletes the caller's profile. identifier must be the caller's own
        IdP subject (not a username) — deleting a profile for anyone else
        always returns 404. This is a leaf delete: nothing references a
        profile, so there is no cascade — the user's builds, keyboards, and
        other items keep their own visibility and are untouched; only the
        directory listing loses the user. The username is freed for reuse
        and the avatar object, if any, is removed. Idempotent: deleting
        when the caller has no profile still returns 204.
      responses:
        "204":
          description: The profile was deleted, or the caller had none.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            The profile was being modified concurrently and the delete
            could not be applied (type https://mykeebs.info/errors/conflict).
            Retry.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/profiles:
    get:
      tags: [profiles]
      summary: List discoverable profiles
      operationId: listProfiles
      security:
        - {}
        - BearerAuth: []
      description: >
        The public directory. Returns only profiles with discoverable set to
        true. Anonymous callers are allowed. Rows are ordered by username,
        except that a discord_username filter orders by the lowercased
        Discord handle.
        username and discord_username are optional begins-with prefix
        filters and are mutually exclusive — supplying both returns 400. A
        next_cursor is bound to the filter it was returned under; reusing
        it with a different filter returns 400.
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: username
          in: query
          schema:
            type: string
          description: >
            Case-sensitive begins-with filter on username. Mutually
            exclusive with discord_username.
        - name: discord_username
          in: query
          schema:
            type: string
          description: >
            Case-insensitive begins-with filter on discord_username.
            Mutually exclusive with username.
      responses:
        "200":
          description: A page of discoverable profiles.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/profile/{identifier}/image:
    parameters:
      - $ref: "#/components/parameters/ProfileIdentifier"
    post:
      tags: [profiles]
      summary: Set (or replace) the caller's avatar
      operationId: setProfileImage
      description: >
        identifier must be the caller's own IdP subject (not a username) —
        setting an avatar for anyone else, or when the caller has no
        profile, always returns 404. A profile has at most one avatar —
        calling this again replaces it, no need to delete first. Does not
        upload the image itself: the response is a presigned S3 PUT URL the
        client uploads the actual image bytes to directly. The presigned URL
        requires the exact content_type given here on the upload — this lets
        the API reject an unsupported content_type up front, before ever
        issuing a presigned URL, and lets S3 reject an upload that doesn't
        match what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "201":
          description: >
            An avatar slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [profiles]
      summary: Remove the caller's avatar
      operationId: deleteProfileImage
      description: >
        identifier must be the caller's own IdP subject (not a username) —
        removing an avatar for anyone else, or when the caller has no
        profile, always returns 404. Idempotent: a profile with no avatar
        set still returns 204.
      responses:
        "204":
          description: Deleted, or the profile had no avatar.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [keycap-sets]
      summary: List keycap sets
      operationId: listKeycapSets
      security:
        - {}
        - BearerAuth: []
      description: >
        Lists the keycap sets in userId's collection that the caller can read: all of them for the owner, public and authenticated ones for any other signed-in caller, and only public ones for an anonymous caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of keycap sets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSetListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [keycap-sets]
      summary: Create a keycap set
      operationId: createKeycapSet
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapSetInput"
      responses:
        "201":
          description: The created keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
    get:
      tags: [keycap-sets]
      summary: Get a keycap set
      operationId: getKeycapSet
      security:
        - {}
        - BearerAuth: []
      description: >
        Returns the keycap set if the caller can read it under its visibility. Returns 404 (not 403) if it doesn't exist or the caller can't read it, so an unreadable keycap set's existence isn't revealed.
      responses:
        "200":
          description: The requested keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [keycap-sets]
      summary: Update a keycap set
      operationId: updateKeycapSet
      description: >
        userId must be the caller's own subject; updating another user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapSetInput"
      responses:
        "200":
          description: The updated keycap set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapSet"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Delete a keycap set
      operationId: deleteKeycapSet
      description: >
        userId must be the caller's own subject; deleting another user's
        keycap set always returns 404. on_delete controls what happens if
        any kit in the set is still referenced by a build: "block" (the
        default) fails with 409 and lists the blocking build ids;
        "cascade" deletes the set and every build that references any kit
        in it, returning their ids.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade]
            default: block
          description: How to handle a set still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (no builds referenced it).
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: >
            Blocked by one or more referencing builds (on_delete=block, the
            default — the Problem body has blocking_build_ids).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
    post:
      tags: [keycap-sets]
      summary: Add a kit to a keycap set
      operationId: createKeycapKit
      description: >
        userId must be the caller's own subject; adding a kit to another
        user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapKitInput"
      responses:
        "201":
          description: The created kit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKit"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits/{kitId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
      - name: kitId
        in: path
        required: true
        schema:
          type: string
        description: The kit_id returned when the kit was created.
    put:
      tags: [keycap-sets]
      summary: Update a kit
      operationId: updateKeycapKit
      description: >
        userId must be the caller's own subject; updating a kit on another
        user's keycap set always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeycapKitInput"
      responses:
        "200":
          description: The updated kit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKit"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Delete a kit
      operationId: deleteKeycapKit
      description: >
        userId must be the caller's own subject; deleting a kit from
        another user's keycap set, or from a keycap set that doesn't exist,
        both return 404. Idempotent — deleting a kitId not present in the
        set is not an error. on_delete controls what happens if the kit is
        still referenced by a build: "block" (the default) fails with 409
        and lists the blocking build ids; "cascade" deletes the kit and
        every build that references it, returning their ids.
      parameters:
        - name: on_delete
          in: query
          schema:
            type: string
            enum: [block, cascade]
            default: block
          description: How to handle a kit still referenced by one or more builds.
      responses:
        "200":
          description: Deleted via cascade; lists the builds that were also deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CascadeDeleteResult"
        "204":
          description: Deleted (no builds referenced it).
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: Blocked by one or more referencing builds (on_delete=block, the default).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/keycap-sets/{keycapSetId}/kits/{kitId}/image:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/KeycapSetId"
      - name: kitId
        in: path
        required: true
        schema:
          type: string
        description: The kit_id returned when the kit was created.
    post:
      tags: [keycap-sets]
      summary: Set (or replace) a kit's image
      operationId: setKeycapKitImage
      description: >
        userId must be the caller's own subject; setting a kit's image on
        another user's keycap set always returns 404. A kit has at most one
        image — calling this again replaces it, no need to delete first.
        Does not upload the image itself: the response is a presigned S3
        PUT URL the client uploads the actual image bytes to directly. The
        presigned URL requires the exact content_type given here on the
        upload — this lets the API reject an unsupported content_type up
        front, before ever issuing a presigned URL, and lets S3 reject an
        upload that doesn't match what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeycapKitImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [keycap-sets]
      summary: Remove a kit's image
      operationId: deleteKeycapKitImage
      description: >
        userId must be the caller's own subject; removing a kit's image on
        another user's keycap set always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      tags: [builds]
      summary: List builds
      operationId: listBuilds
      security:
        - {}
        - BearerAuth: []
      description: >
        Lists the builds in userId's collection that the caller can read: all of them for the owner, public and authenticated ones for any other signed-in caller, and only public ones for an anonymous caller (possibly empty).
      parameters:
        - $ref: "#/components/parameters/BuildKeyboardIdFilter"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of builds.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildListPage"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    post:
      tags: [builds]
      summary: Create a build
      operationId: createBuild
      description: >
        userId must be the caller's own subject; creating in another user's collection always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildInput"
      responses:
        "201":
          description: The created build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
    get:
      tags: [builds]
      summary: Get a build
      operationId: getBuild
      security:
        - {}
        - BearerAuth: []
      description: >
        Returns the build if the caller can read it under its visibility. Returns 404 (not 403) if it doesn't exist or the caller can't read it, so an unreadable build's existence isn't revealed.
      responses:
        "200":
          description: The requested build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    put:
      tags: [builds]
      summary: Update a build
      operationId: updateBuild
      description: >
        userId must be the caller's own subject; updating another user's build always returns 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildInput"
      responses:
        "200":
          description: The updated build.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"
    delete:
      tags: [builds]
      summary: Delete a build
      operationId: deleteBuild
      description: >
        userId must be the caller's own subject; deleting another user's build always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}/images:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
    post:
      tags: [builds]
      summary: Add an image to a build
      operationId: createBuildImage
      description: >
        userId must be the caller's own subject; adding an image to another
        user's build always returns 404. Images are not settable via
        POST/PUT on the build itself (see BuildInput) — this is the only
        way to attach one. Does not upload the image itself: the response
        is a presigned S3 PUT URL the client uploads the actual image
        bytes to directly. The presigned URL requires the exact
        content_type given here on the upload — this lets the API reject
        an unsupported content_type up front, before ever issuing a
        presigned URL, and lets S3 reject an upload that doesn't match
        what was requested.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
      responses:
        "201":
          description: >
            An image slot has been allocated; upload the image bytes to
            upload_url (HTTP PUT, with a Content-Type header matching the
            content_type given in the request) to complete it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildImageUpload"
        "400":
          $ref: "#/components/responses/ProblemResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/users/{userId}/builds/{buildId}/images/{imageId}:
    parameters:
      - $ref: "#/components/parameters/UserId"
      - $ref: "#/components/parameters/BuildId"
      - name: imageId
        in: path
        required: true
        schema:
          type: string
        description: The image_id returned when the image was added.
    delete:
      tags: [builds]
      summary: Remove an image from a build
      operationId: deleteBuildImage
      description: >
        userId must be the caller's own subject; removing an image from
        another user's build always returns 404.
      responses:
        "204":
          description: Deleted.
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/lookups:
    get:
      tags: [lookups]
      summary: List all lookup category names
      operationId: listLookups
      security: []
      description: >
        Returns category names only, not their values - fetch
        GET /v1/lookups/{category} for a specific category's approved values.
      responses:
        "200":
          description: All lookup category names.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [vendor, switch_material, keyboard_size, keyboard_layout]
        default:
          $ref: "#/components/responses/ProblemResponse"

  /v1/lookups/{category}:
    parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        example: vendor
    get:
      tags: [lookups]
      summary: Get one lookup category's approved values
      operationId: getLookup
      security: []
      description: >
        Returns 404 if category isn't one of the names returned by GET
        /lookups.
      responses:
        "200":
          description: The requested lookup category.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lookup"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/ProblemResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: An IdP-issued OIDC JWT (Authorization Bearer <token>).

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: >
        The IdP subject of the item's owner — the `sub` claim of an access
        token, and the `user_id` field of a profile. If this matches the
        authenticated caller's own subject, the request is against their own
        collection. If it names a different user, the request is against
        that user's collection: reads return only the items the caller can
        read under each item's visibility (and a 404, not a 403, for a
        specific item the caller can't read, so its existence isn't
        revealed); writes (create/update/delete) always fail with a 404 in
        this case, since a caller can never modify another user's items. Not a PII/security
        concern to expose in a URL — an IdP subject is an opaque identifier,
        not derived from email or any other identifying attribute.
    KeyboardId:
      name: keyboardId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the keyboard.
    SwitchId:
      name: switchId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the switch.
    KeycapSetId:
      name: keycapSetId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the keycap set.
    BuildId:
      name: buildId
      in: path
      required: true
      schema:
        type: string
      description: Server-generated identifier for the build.
    ProfileIdentifier:
      name: identifier
      in: path
      required: true
      schema:
        type: string
      description: >
        Either a profile owner's IdP subject or their username. Resolution
        tries the IdP subject first and falls back to a username lookup, so
        a username that happened to match a subject string would be shadowed
        (in practice the two value spaces do not overlap).
    BuildKeyboardIdFilter:
      name: keyboard_id
      in: query
      schema:
        type: string
      description: If set, only return builds whose keyboard field is this keyboard's id.
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return.
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque pagination cursor from a previous response's next_cursor.

  responses:
    ProblemResponse:
      description: An error, formatted per RFC 9457 (Problem Details for HTTP APIs).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFoundResponse:
      description: The requested resource does not exist, or does not belong to the authenticated user.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    ConflictResponse:
      description: >
        The resource was modified by a concurrent request while this one
        was in flight, and retries were exhausted. Safe to retry the request
        as-is.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
          example: https://mykeebs.info/errors/validation-error
        title:
          type: string
          example: Validation Error
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        invalid_params:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              reason:
                type: string
              allowed_values:
                type: array
                items:
                  type: string
        blocking_build_ids:
          type: array
          description: >
            Present on a 409 response caused by the item still being
            referenced by one or more builds. Lists the ids of the blocking
            builds.
          items:
            type: string
      required: [type, title, status]

    CascadeDeleteResult:
      type: object
      description: >
        Returned by a delete call made with on_delete=cascade, listing the
        ids of every build that was deleted alongside the requested item.
      properties:
        deleted_build_ids:
          type: array
          items:
            type: string
      required: [deleted_build_ids]

    Money:
      type: number
      format: double
      description: A non-negative amount. Its currency is given by the sibling currency field.
      minimum: 0
      maximum: 100000000000000
      example: 123.45

    Currency:
      type: string
      example: USD
      description: >
        An ISO 4217 currency code, from the item owner's
        preferences.currency. Display-only: kbdb stores no currency with a
        price and does no conversion.

    Visibility:
      type: string
      enum: [public, authenticated, private]
      description: >
        Who can read this item via its GET routes (create/update/delete
        always require the caller to be the item's owner, regardless of
        visibility). "public": readable with no authentication at all.
        "authenticated": readable by any signed-in user, but not
        anonymous callers. "private": readable only by the owner. There
        is no per-user allowlist/sharing mechanism beyond these three
        tiers — visibility is not scoped to specific other users.

    PurchaseInput:
      type: object
      description: >
        Full purchase-lifecycle tracking, used by keyboards and keycap set
        kits (which get separate order/delivery dates and status).
      additionalProperties: false
      properties:
        vendor:
          type: string
          description: Open vocabulary — validated against the "vendor" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string
          description: Open vocabulary — validated against the "order_status" lookup at request time.

    Purchase:
      type: object
      description: >
        The read form of PurchaseInput.
      properties:
        vendor:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        currency:
          $ref: "#/components/schemas/Currency"
          description: >
            The owner's display currency, for labelling price.
            Present exactly when price is.
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string

    MaterialColor:
      type: object
      description: A physical part described by material and color.
      additionalProperties: false
      properties:
        material:
          type: string
          description: Open vocabulary — validated against the relevant *_material lookup at request time.
        color:
          type: string
          description: Free text.

    KeyboardDesign:
      type: object
      additionalProperties: false
      properties:
        top_case:
          $ref: "#/components/schemas/MaterialColor"
        bottom_case:
          $ref: "#/components/schemas/MaterialColor"
        weight:
          $ref: "#/components/schemas/MaterialColor"
        plates:
          type: array
          items:
            type: string
            description: Open vocabulary — validated against the "keyboard_plate_material" lookup at request time.

    KeyboardPCB:
      type: object
      additionalProperties: false
      properties:
        thickness:
          type: number
          format: double
          example: 1.6
        firmware:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_firmware" lookup at request time.
        assembly:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_assembly_type" lookup at request time.
        connectivity:
          type: string
          description: Open vocabulary — validated against the "keyboard_pcb_connectivity_type" lookup at request time.

    KeyboardInput:
      type: object
      required: [brand, name, visibility]
      additionalProperties: false
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        size:
          type: string
          description: Open vocabulary — validated against the "keyboard_size" lookup at request time.
        layout:
          type: string
          description: >
            Open vocabulary — validated against the "keyboard_layout" lookup at
            request time, including that the chosen layout is valid for
            the keyboard's size.
        design:
          $ref: "#/components/schemas/KeyboardDesign"
        pcb:
          $ref: "#/components/schemas/KeyboardPCB"
        purchase:
          $ref: "#/components/schemas/PurchaseInput"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    ImageUploadRequest:
      type: object
      description: >
        Request body for every image-upload endpoint (keyboard, switch,
        profile avatar, keycap kit, build). The upload is two-step: this
        call allocates a slot and returns a presigned S3 PUT URL, then the
        client PUTs the bytes to that URL with a matching Content-Type.
      required: [content_type]
      additionalProperties: false
      properties:
        content_type:
          type: string
          example: image/png
          description: Open vocabulary — validated against the "image_content_type" lookup at request time.

    KeyboardImage:
      type: object
      required: [image_id, url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for this image, unique within the keyboard.
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch of the keyboard — do not cache or persist
            this value, it expires.

    KeyboardImageUpload:
      type: object
      required: [image_id, upload_url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for the newly-created image.
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    Keyboard:
      type: object
      required: [id, brand, name]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        size:
          type: string
        layout:
          type: string
        design:
          $ref: "#/components/schemas/KeyboardDesign"
        pcb:
          $ref: "#/components/schemas/KeyboardPCB"
        purchase:
          $ref: "#/components/schemas/Purchase"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"
          description: >
            Who can read this keyboard. Only ever present for the
            keyboard's owner - no preference can expose it to another
            caller.
        images:
          type: array
          items:
            $ref: "#/components/schemas/KeyboardImage"
          description: >
            Managed via the dedicated image endpoints below, not via
            PUT on the keyboard itself — see POST/DELETE
            .../keyboards/{keyboardId}/images[/{imageId}].

    KeyboardListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Keyboard"
        next_cursor:
          type: string
          description: Pass as cursor to fetch the next page. Omitted on the last page.

    SwitchMaterial:
      type: object
      additionalProperties: false
      properties:
        top_housing:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.
        bottom_housing:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.
        stem:
          type: string
          description: Open vocabulary — validated against the "switch_material" lookup at request time.

    SwitchForce:
      type: object
      additionalProperties: false
      properties:
        actuation:
          type: number
          format: double
          description: Actuation force in grams (nominal value).
        bottom_out:
          type: number
          format: double
          description: Bottom-out force in grams (nominal value).

    SwitchSpring:
      type: object
      additionalProperties: false
      properties:
        material:
          type: string
          description: Open vocabulary — validated against the "switch_spring_material" lookup at request time.
        pre_travel:
          type: number
          format: double
          description: Pre-travel distance in mm.
        total_travel:
          type: number
          format: double
          description: Total travel distance in mm.

    SwitchPurchaseInput:
      type: object
      description: >
        Same purchase-lifecycle tracking as PurchaseInput, plus a quantity
        field since switches are bought in bulk.
      additionalProperties: false
      properties:
        vendor:
          type: string
          description: Open vocabulary — validated against the "vendor" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"
          description: >
            The total paid for quantity switches, not the per-switch price.
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string
          description: Open vocabulary — validated against the "order_status" lookup at request time.
        quantity:
          type: integer
          minimum: 1
          description: >
            How many switches price paid for. Needed for this switch's cost
            to count toward a build's total_cost.

    SwitchPurchase:
      type: object
      description: >
        The read form of SwitchPurchaseInput.
      properties:
        vendor:
          type: string
        price:
          $ref: "#/components/schemas/Money"
          description: >
            The total paid for quantity switches, not the per-switch price.
        currency:
          $ref: "#/components/schemas/Currency"
          description: >
            The owner's display currency, for labelling price.
            Present exactly when price is.
        order_date:
          type: string
          format: date
        delivery_date:
          type: string
          format: date
        order_status:
          type: string
        quantity:
          type: integer
          minimum: 1
          description: >
            How many switches price paid for. Needed for this switch's cost
            to count toward a build's total_cost.

    SwitchInput:
      type: object
      required: [brand, name, type, visibility]
      additionalProperties: false
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        manufacturer:
          type: string
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        type:
          type: string
          description: Open vocabulary — validated against the "switch_type" lookup at request time.
        pins:
          type: integer
          example: 5
          description: PCB mount pin count.
        factory_lubed:
          type: boolean
        material:
          $ref: "#/components/schemas/SwitchMaterial"
        force:
          $ref: "#/components/schemas/SwitchForce"
        spring:
          $ref: "#/components/schemas/SwitchSpring"
        purchase:
          $ref: "#/components/schemas/SwitchPurchaseInput"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    SwitchImage:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch — do not cache or persist this value, it
            expires. A switch has at most one image (its vendor render/
            product shot) — see POST/DELETE .../switches/{switchId}/image.

    SwitchImageUpload:
      type: object
      required: [upload_url]
      properties:
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    Switch:
      type: object
      required: [id, brand, name, type]
      properties:
        id:
          type: string
        brand:
          type: string
        manufacturer:
          type: string
        name:
          type: string
        type:
          type: string
        pins:
          type: integer
          example: 5
          description: PCB mount pin count.
        factory_lubed:
          type: boolean
        material:
          $ref: "#/components/schemas/SwitchMaterial"
        force:
          $ref: "#/components/schemas/SwitchForce"
        spring:
          $ref: "#/components/schemas/SwitchSpring"
        purchase:
          $ref: "#/components/schemas/SwitchPurchase"
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"
          description: >
            Who can read this switch. Only ever present for the
            switch's owner - no preference can expose it to another
            caller.
        image:
          $ref: "#/components/schemas/SwitchImage"
          description: >
            Managed via the dedicated image endpoint, not via PUT on
            the switch itself — see POST/DELETE
            .../switches/{switchId}/image.

    SwitchListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Switch"
        next_cursor:
          type: string
          description: Pass as cursor to fetch the next page. Omitted on the last page.

    ProfileLink:
      type: object
      required: [name, url]
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          pattern: "\\S"
          maxLength: 32
          description: Display label for the link, e.g. "Twitch" or "My Discord".
        url:
          type: string
          description: >
            An https URL. http, scheme-relative, and non-http(s) schemes
            are rejected. Enforced by the handler (not a schema pattern) so
            the rejection names the exact links[i].url that failed.

    ProfileImage:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL for the
            profile's avatar. Generated new on every fetch — do not cache
            or persist it. Managed via POST/DELETE
            .../profile/{identifier}/image, not via a body PUT.

    ProfileImageUpload:
      type: object
      required: [upload_url]
      properties:
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL for the avatar. Short-lived — upload
            promptly.

    ProfilePreferences:
      type: object
      required: [currency, show_price_to_me, show_price_to_others]
      additionalProperties: false
      properties:
        currency:
          type: string
          default: USD
          description: >
            An ISO 4217 currency code (case-insensitive on write, always
            returned uppercase). Display-only: a hint for which currency a
            client should label or convert prices in. kbdb does not store
            a currency alongside any item's price and performs no
            conversion itself.
        show_price_to_me:
          type: boolean
          default: true
          description: >
            Whether the owner is shown price fields on their own items in
            list responses (GET /v1/users/{userId}/{collection} and the
            equivalent MCP list tools). Does not affect single-item GET —
            an owner always sees their own item's price there, since
            editing requires knowing the current value.
        show_price_to_others:
          type: boolean
          default: false
          description: >
            Whether other callers (subject to the item's own visibility
            rules) are shown this owner's item prices, on both single-item
            GET and list responses.

    ProfileInput:
      type: object
      required: [username]
      additionalProperties: false
      properties:
        preferences:
          $ref: "#/components/schemas/ProfilePreferences"
          description: >
            Omitted (not partially specified - a write is a full replace,
            same as every other field here) means every preference reverts
            to its default.
        username:
          type: string
          pattern: "^[a-z0-9][a-z0-9_.-]{1,30}[a-z0-9]$"
          description: >
            Lowercase letters, digits, hyphen, period, underscore; 3–32
            characters; no leading/trailing period, hyphen, or underscore;
            no consecutive periods. A Discord-compatible superset, so any
            Discord @handle (3+ chars) is a valid username. Unique across
            all profiles, case-sensitively (the charset has no uppercase).
            Used as /u/{username} in the frontend and as an identifier on
            GET /v1/profile/{identifier}.
        discoverable:
          type: boolean
          default: false
          description: >
            Whether this profile appears in GET /v1/profiles and is
            resolvable by anyone at GET /v1/profile/{identifier}. When
            false, only the owner can read it. Omitted on a PUT means
            false (full-replace semantics).
        discord_username:
          type: string
          maxLength: 32
          description: >
            Not verified against Discord's directory, but must match the
            shape of a Discord @handle: 2-32 chars, lowercase letters,
            digits, period, or underscore, no leading/trailing period or
            underscore, no consecutive periods.
        bio:
          type: string
          maxLength: 500
        links:
          type: array
          maxItems: 5
          items:
            $ref: "#/components/schemas/ProfileLink"

    Profile:
      type: object
      required: [user_id, username, discoverable]
      properties:
        user_id:
          type: string
          description: >
            The profile owner's IdP subject. Use it as the {userId} path
            segment on the collection routes (GET /v1/users/{userId}/keyboards,
            /v1/users/{userId}/builds, etc.). Resolve a profile by username here
            first, then read that user's collections by this id.
        username:
          type: string
          description: >
            Used as /u/{username} in the frontend and as an identifier on
            GET /v1/profile/{identifier}.
        discoverable:
          type: boolean
          description: >
            Whether this profile appears in GET /v1/profiles and is
            resolvable by anyone at GET /v1/profile/{identifier}. When
            false, only the owner can read it.
        discord_username:
          type: string
        bio:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/ProfileLink"
        preferences:
          $ref: "#/components/schemas/ProfilePreferences"
          description: >
            Only ever present for the profile's owner.
        avatar:
          $ref: "#/components/schemas/ProfileImage"
          description: >
            Managed via the dedicated image endpoints, not via a body
            PUT — see POST/DELETE .../profile/{identifier}/image.

    ProfileListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Profile"
        next_cursor:
          type: string
          description: Pass as cursor to fetch the next page. Omitted on the last page.

    KeycapKitInput:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          pattern: "\\S"
          description: e.g. "Base", "Extension", "Accents".
        purchase:
          $ref: "#/components/schemas/PurchaseInput"
        primary:
          type: boolean
          description: >
            Omit to leave the set's primary kit designation untouched.
            true makes this kit the set's primary kit, replacing whichever
            kit held that designation before. false clears the
            designation, but only if this kit is the current primary -
            otherwise it's a no-op. Deliberately has no default: a missing
            field must stay distinguishable from an explicit false.

    KeycapKitImage:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch — do not cache or persist this value, it
            expires. A kit has at most one image (its vendor render/product
            shot) — see POST/DELETE .../kits/{kitId}/image.

    KeycapKitImageUpload:
      type: object
      required: [upload_url]
      properties:
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    KeycapKit:
      type: object
      required: [kit_id, name]
      properties:
        kit_id:
          type: string
          description: Server-generated identifier for this kit, unique within the keycap set.
        name:
          type: string
        purchase:
          $ref: "#/components/schemas/Purchase"
        image:
          $ref: "#/components/schemas/KeycapKitImage"
          description: >
            Managed via the dedicated image endpoint, not via PUT on
            the kit itself — see POST/DELETE
            .../keycap-sets/{keycapSetId}/kits/{kitId}/image.

    KeycapSetInput:
      type: object
      required: [brand, name, visibility]
      additionalProperties: false
      properties:
        brand:
          type: string
          minLength: 1
          pattern: "\\S"
        name:
          type: string
          minLength: 1
          pattern: "\\S"
        profile:
          type: string
          description: Open vocabulary — validated against the "keycap_profile" lookup at request time.
        material:
          type: string
          description: Open vocabulary — validated against the "keycap_material" lookup at request time.
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    KeycapSet:
      type: object
      required: [id, brand, name]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        profile:
          type: string
        material:
          type: string
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"
          description: >
            Who can read this keycap set. Only ever present for the
            set's owner - no preference can expose it to another
            caller.
        kits:
          type: array
          items:
            $ref: "#/components/schemas/KeycapKit"
          description: >
            Managed via the dedicated kit endpoints below, not via PUT
            on the set itself — see POST/PUT/DELETE
            .../keycap-sets/{keycapSetId}/kits[/{kitId}].
        primary_kit_id:
          type: string
          description: >
            The kit_id, among this set's kits, whose image represents
            the set in a list view. Omitted if never set, or if the kit
            it named no longer exists — match against kits[].kit_id
            to find that kit's image.
        order_status:
          type: string
          description: >
            Derived, read-only summary of every kit's
            purchase.order_status: the least-progressed status among
            them wins (Planned < Ordered < Shipped < Delivered), so the
            set isn't shown as Delivered while a kit is still en
            route. A kit with status Cancelled is excluded from that
            comparison unless every kit is Cancelled, in which case
            this is Cancelled too. Omitted if no kit has an order_status
            set, or the set has no kits.
        total_cost:
          $ref: "#/components/schemas/Money"
          description: >
            Total cost of the set's kits with a known purchase price. Kits
            with no known price are excluded rather than treated as zero,
            so this may undercount.
        currency:
          $ref: "#/components/schemas/Currency"
          description: >
            The owner's display currency, for labelling total_cost.
            Present exactly when total_cost is.

    KeycapSetListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/KeycapSet"
        next_cursor:
          type: string
          description: Pass as cursor to fetch the next page. Omitted on the last page.

    BuildSwitchEntry:
      type: object
      required: [switch, count]
      additionalProperties: false
      properties:
        switch:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a Switch resource.
        count:
          type: integer
          minimum: 1

    BuildKeycapKitEntry:
      type: object
      required: [keycap_set, kit]
      additionalProperties: false
      properties:
        keycap_set:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a KeycapSet resource.
        kit:
          type: string
          minLength: 1
          pattern: "\\S"
          description: kit_id of one of that keycap set's kits (see KeycapKit.kit_id).

    BuildKeyboardRef:
      type: object
      description: A build's denormalized Keyboard reference.
      required: [id, brand, name]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        size:
          type: string
        layout:
          type: string
        image_url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL for the
            referenced keyboard's first image, if it has one. Generated new
            on every fetch of the build — do not cache or persist this
            value, it expires.

    BuildSwitchRef:
      type: object
      description: A build's denormalized Switch reference.
      required: [id, brand, name, type]
      properties:
        id:
          type: string
        brand:
          type: string
        manufacturer:
          type: string
        name:
          type: string
        type:
          type: string
        image_url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL for the
            referenced switch's image, if it has one. Generated new on
            every fetch of the build — do not cache or persist this value,
            it expires.

    BuildSwitchEntryResolved:
      type: object
      required: [switch, count]
      properties:
        switch:
          $ref: "#/components/schemas/BuildSwitchRef"
        count:
          type: integer
          minimum: 1

    BuildKeycapSetRef:
      type: object
      description: >
        A build's denormalized KeycapSet reference, holding the kits of
        that set the build uses.
      required: [id, brand, name, kits]
      properties:
        id:
          type: string
        brand:
          type: string
        name:
          type: string
        profile:
          type: string
        kits:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/BuildKeycapKitRef"

    BuildKeycapKitRef:
      type: object
      description: A build's denormalized KeycapKit reference.
      required: [kit_id, name]
      properties:
        kit_id:
          type: string
          description: kit_id of the referenced kit (see KeycapKit.kit_id).
        name:
          type: string
        image_url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL for the
            referenced kit's image, if it has one. Generated new on every
            fetch of the build — do not cache or persist this value, it
            expires.

    BuildStabsInput:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: Open vocabulary — validated against the "build_stabilizer" lookup at request time.
        mount_type:
          type: string
          description: Open vocabulary — validated against the "build_stabilizer_mount_type" lookup at request time.
        price:
          $ref: "#/components/schemas/Money"

    BuildStabs:
      type: object
      description: >
        The read form of BuildStabsInput.
      properties:
        name:
          type: string
        mount_type:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        currency:
          $ref: "#/components/schemas/Currency"
          description: >
            The owner's display currency, for labelling price.
            Present exactly when price is.

    BuildCaseMountType:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          description: Open vocabulary — validated against the "build_case_mount_type" lookup at request time.
        durometer:
          type: string
          description: >
            Open vocabulary — validated against the "build_durometer" lookup
            at request time. Only meaningful when the chosen mount type
            supports it (see the build_case_mount_type lookup's
            supports_durometer flag).

    BuildInput:
      type: object
      required: [keyboard, visibility]
      additionalProperties: false
      properties:
        keyboard:
          type: string
          minLength: 1
          pattern: "\\S"
          description: ID of a Keyboard resource.
        plate:
          type: string
          description: Which of the keyboard's design.plates options is installed.
        case_mount_type:
          $ref: "#/components/schemas/BuildCaseMountType"
        stabs:
          $ref: "#/components/schemas/BuildStabsInput"
        foam:
          type: boolean
        switches:
          type: array
          items:
            $ref: "#/components/schemas/BuildSwitchEntry"
        keycap_kits:
          type: array
          items:
            $ref: "#/components/schemas/BuildKeycapKitEntry"
        build_date:
          type: string
          format: date
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"

    BuildImage:
      type: object
      required: [image_id, url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for this image, unique within the build.
        url:
          type: string
          format: uri
          description: >
            A freshly-minted, short-lived presigned S3 GET URL. Generated
            new on every fetch of the build — do not cache or persist this
            value, it expires.

    BuildImageUpload:
      type: object
      required: [image_id, upload_url]
      properties:
        image_id:
          type: string
          description: Server-generated identifier for the newly-created image.
        upload_url:
          type: string
          format: uri
          description: >
            Presigned S3 PUT URL. Short-lived — upload promptly.

    Build:
      type: object
      description: >
        The read representation of a build. Unlike BuildInput, keyboard
        and switches[].switch are denormalized into resolved reference
        objects rather than bare ids, and BuildInput's keycap_kits are
        grouped by set into keycap_sets, so a client can render a build
        without follow-up requests. The build's
        visibility governs everything shown in it: a caller who can read
        the build sees its referenced parts' details even if they couldn't
        read those parts directly.
      required: [id, keyboard]
      properties:
        id:
          type: string
        keyboard:
          $ref: "#/components/schemas/BuildKeyboardRef"
        plate:
          type: string
          description: Which of the keyboard's design.plates options is installed.
        case_mount_type:
          $ref: "#/components/schemas/BuildCaseMountType"
        stabs:
          $ref: "#/components/schemas/BuildStabs"
        foam:
          type: boolean
        switches:
          type: array
          items:
            $ref: "#/components/schemas/BuildSwitchEntryResolved"
        keycap_sets:
          type: array
          items:
            $ref: "#/components/schemas/BuildKeycapSetRef"
          description: >
            The keycap sets whose kits the build uses, in the order each set
            first appears in the build's keycap_kits.
        build_date:
          type: string
          format: date
        notes:
          type: string
        visibility:
          $ref: "#/components/schemas/Visibility"
          description: >
            Who can read this build. Only ever present for the build's
            owner - no preference can expose it to another caller.
        images:
          type: array
          items:
            $ref: "#/components/schemas/BuildImage"
          description: >
            Managed via the dedicated image endpoints below, not via
            PUT on the build itself — see POST/DELETE
            .../builds/{buildId}/images[/{imageId}].
        total_cost:
          $ref: "#/components/schemas/Money"
          description: >
            Total cost of the build's priced components (keyboard,
            switches, keycap kits, stabs). Components with no known price
            are excluded rather than treated as zero, so this may
            undercount.
        currency:
          $ref: "#/components/schemas/Currency"
          description: >
            The owner's display currency, for labelling total_cost.
            Present exactly when total_cost is.

    BuildListPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Build"
        next_cursor:
          type: string
          description: Pass as cursor to fetch the next page. Omitted on the last page.

    Lookup:
      type: object
      description: >
        A lookup category's approved values. "values" is plain strings
        except for "keyboard_layout" and "build_case_mount_type", whose
        entries are objects - see the examples below.
      required: [category, values]
      properties:
        category:
          type: string
          example: vendor
        values:
          type: array
          items: {}
          examples:
            - ["Amazon", "CannonKeys"]
            - [{ name: "WK", sizes: ["60%", "65%"] }]
            - [{ name: "Gasket Mount", supports_durometer: true }]
